<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Chef Details</title>
    <style>
        body {
            width: 800px;
            margin: auto;
            font-family: Arial, sans-serif;
        }

        h1 {
            color: #333;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            padding: 5px;
            margin: 5px 0;
            background-color: #f5f5f5;
            border-radius: 3px;
        }
    </style>
</head>
<body>
<header>
    <h1 th:text="|${chef.getFirstName()}, ${chef.getLastName()}|"></h1>
</header>
<section>
    <h2 th:text="|Bio: ${chef.getBio()}|"></h2>
    <h2>Dishes prepared by this chef:</h2>
    <ul>
        <li th:each="dish: ${chef.getDishes()}" th:text="|${dish.getName()}|"></li>
    </ul>
</section>
</body>
</html>